/*

COLORS
---------------------------------------------
	Main Teal						#32b1bb
	Dark Teal						#25858c
	Orange							#de8800
--------------------------------------------- 

*/

#header .logo a { color: #32b1bb }

a { color: #32b1bb }
a:hover { color: #de8800 }

input, textarea { border-color:#32b1bb }
input[type=submit], input#submit, input.submit { background-color: #32b1bb; color: #ffffff}

#header {background: #ccf0f3; }

#main-nav li { border-color: #ccf0f3 }
#main-nav li a { color: #1b9ba5 }
#main-nav li a:hover { color: #ffffff}
#main-nav .current-menu-item, #main-nav .current_page_item { border-color: #8dccd1; }

#main-nav .active { background:#32b1bb; border-color:#32b1bb}
#main-nav .active>a { color: #ffffff}
#main-nav li>ul li a{ background:#32b1bb; color: #ffffff; border-color: #ccf0f3; }
#main-nav li>ul li a:hover { background:  #ccf0f3; color: #32b1bb }

#header #searchform input { background: #8dccd1; color: #ffffff}

#header #searchform #searchsubmit { background: url(sprite.gif) no-repeat 0 4px}

#slideshow .slide-caption { background: #32b1bb; color:#ccf0f3 }
#slideshow .slide-caption:hover { background: #31c9a7}
#slideshow .slide-caption p { color:#ccf0f3 }
#slideshow .slide-caption strong { color: #ffffff}
#slide-nav a { background: url(sprite.gif) 5px -38px}
#slide-nav .activeSlide { background: url(sprite.gif) -20px -38px}

#intro-text { color: #8c8c8c}
#social { color: #818181}

#homepage-widgets .widget, #homepage-widgets .widget p { font-size: 14px; line-height: 170%}

h1, h2, h3 { color: #32b1bb }
h4 { color: #8E8E8E }
h5 { color: #B7B7B7}

.post .date { background: #32b1bb }
.post .date strong { font-weight: normal; line-height: 18px}
.post .post-content h3, .post .post-content h3 a { color: #32b1bb} 
.post .post-content h3 a:hover { color: #de8800 }
.post-meta .keep-reading a { color: #25858c }
.post-meta .keep-reading a:hover { color: #195b60 }

#content ul li { background: url(sprite.gif) no-repeat 0 -71px; padding: 5px 0 5px 25px}

.page-navigation .current-menu-item>a { color: #25858c }
