img { -ms-interpolation-mode: bicubic; }

.two-col #sidebar { width: 280px; margin-right: -30px }

#footer-widgets .widget { width: 300px }

#blog-nav span { width: 49.6% }

#slide-nav { display: block}
#slide-nav a{ z-index: 1000; display: inline-block; zoom: 1; line-height: 200px; text-indent: 0 }